.slider {
   height: 100vh;
   background-color: #eee;
   position: absolute;
   overflow: hidden;
   background-color: #313139;
   top: 0;
   bottom: 0;
   margin: auto;
   width: 100%;
}

.slider__row {
   height: 25vh;
   width: 6480px;
   animation-name: row-slide;
   animation-iteration-count: infinite;
   animation-duration: 20s;
   animation-timing-function:linear;
   background-size: 25%;
   backface-visibility: hidden;
   opacity: .6;
}


.slider__row--1 {
   margin-top: -18px;
   margin-left: 0;
   animation-duration: 45s;
   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/66496/homepage-header-row01.jpg);
}


.slider__row--2 {
   animation-name: row-slide-right;
   margin-left: -1620px;
   animation-duration: 25s;
   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/66496/homepage-header-row02.jpg);
}


.slider__row--3 {
   margin-left: 0;
   animation-duration: 40s;
   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/66496/homepage-header-row03.jpg);
}


.slider__row--4 {
   animation-name: row-slide-right;
   margin-left: -3200px;
   animation-duration: 30s;
   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/66496/homepage-header-row04.jpg);
}

@keyframes row-slide {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1620px);
  }
}
@keyframes row-slide-right {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(1620px);
  }
}
